.searchbox{display: table;width: 100%;}
.searchbox .lef{display: table-cell;vertical-align: top;width: 500px;background: #f7f7f7;padding: 20px;}
.searchbox .rig{display: table-cell;vertical-align: top;padding-left: 20px;}
.searchbox .rig form{border: 1px solid #dddddd;}
.searchbox .sment{display: block;border: 1px solid #0073bb;background: #f1faff;border-radius: 2px;padding: 20px;font-size: 14px;font-weight: bold;line-height: 24px;letter-spacing: -1px;color: #333333;margin-bottom: 20px;}
.searchbox .sment i{font-size: 20px;color: #0073bb;display: block;margin: 0 auto;margin-bottom: 20px;}

.searchbox .st-1d{border: 1px solid #dddddd;margin-bottom: 10px;border-radius: 2px;background: #ffffff;}
.searchbox .st-1d h4{position: relative;display: block;padding: 0 15px;background: #fafafa;}
.searchbox .st-1d h4 a{display: block;text-decoration: none;line-height: 45px;font-size: 14px;font-weight: bold;color: #333333;}
.searchbox .st-1d > .in{padding: 15px 0 0 0;}
.searchbox .st-1d:hover{border-color: #232f3e;cursor: move;box-shadow: 0 0 10px rgba(0,0,0,0.1);}
.searchbox .st-1d:hover h4{background: #232f3e;}
.searchbox .st-1d:hover h4 a{color: #ffffff;}

.searchbox .st-no-cat{display: block;font-size: 13px;color: #999999;font-style: italic;letter-spacing: -1px;text-align: center;}
.searchbox .st-add{display: block;margin: 20px;line-height: 40px;padding: 0 10px;font-size: 13px;font-weight: bold;color: #666666;text-decoration: none;text-align: center;border-radius: 2px;transition: all 0.1s cubic-bezier(0.930, 0.635, 0.650, 0.970);}
.searchbox .st-add:hover{background: #fafafa;}
.searchbox .st-add.no-mar{margin: 0;}
.searchbox .add-3d{position: absolute;top: 0;right: 25px;line-height: 28px;padding: 0 10px;font-size: 11px;color: #000000;z-index: 2;cursor: pointer;opacity: 0;transition: all 0.1s cubic-bezier(0.930, 0.635, 0.650, 0.970);visibility: hidden;}
.searchbox .add-1d{width: 100%;}
.searchbox .del-1d{position: absolute;top: 0;right: 10px;font-weight: normal;font-size: 11px;color: #ffffff;line-height: 45px;padding: 0 10px;z-index: 2;cursor: pointer;opacity: 0;transition: all 0.1s cubic-bezier(0.930, 0.635, 0.650, 0.970);visibility: hidden;}
.searchbox :hover > .del-1d,
.searchbox :hover > .add-3d{visibility: visible;opacity: 1;}
.search-wait{display: block;padding: 100px 0;text-align: center;font-size: 18px;letter-spacing: -1px;color: #333333;font-weight: bold;}
.search-wait i{font-size: 50px;color: #dddddd;display: block;margin: 0 auto;margin-bottom: 20px;}
.search-wait em{display: block;font-style: normal;text-align: center;font-size: 14px;font-weight: normal;color: #999999;margin-top: 15px;}
